.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  img {
    width: 90%;
    margin: 0 auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  font-weight: bold;
}

.sp {
  display: none;
}

.pc {
  min-width: 1600px;
}

header {
  background: url(../../img/backgorund1.png) top center/cover no-repeat;
  background-position: 10px 0px;
}

.header_content {
  display: flex;
  align-items: center;
  height: 210px;
}
.header_content .header_content_left {
  display: flex;
  font-size: 24px;
  color: red;
  padding-left: 243px;
  padding-bottom: 58px;
}
.header_content .header_content_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 36px;
  padding-left: 10px;
}
.header_content .header_content_right .nav_header {
  padding-left: 191px;
}
.header_content .header_content_right ul li {
  display: inline-block;
  padding: 0 20px;
}
.header_content .header_content_right a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: lighter;
}
.header_content .header_content_right .search_right {
  position: relative;
}
.header_content .header_content_right .search_right input {
  border-radius: 50px;
  height: 44px;
  width: 245px;
  padding: 0px 18px;
  border: 2px solid black;
  margin-left: 27px;
  margin-bottom: 9px;
}
.header_content .header_content_right .fa.fa-search {
  position: absolute;
  top: 15px;
  right: 18px;
}
.header_content .header_content_right .bx.bx-cart {
  font-size: 32px;
  padding-left: 17px;
}
.header_content .header_content_right .cart {
  position: relative;
}
.header_content .header_content_right .cart .number_cart {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -6px;
  left: 34px;
}

.header_banner {
  display: flex;
  justify-content: space-between;
}
.header_banner .header_banner_item_left {
  width: 20%;
  margin: 0 50px 0 245px;
}
.header_banner .header_banner_item_left h3 {
  margin-top: 165px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 400;
  line-height: 75px;
}
.header_banner .header_banner_item_left p {
  font-size: 16px;
  margin-bottom: 15px;
  width: 370px;
}
.header_banner #money {
  font-size: 32px;
  margin-bottom: 77px;
}
.header_banner .header_banner_item_right {
  width: 70%;
  margin-left: 14px;
}
.header_banner .header_banner_item_right img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px #51c1c7;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(81, 193, 199, 0.493);
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  .nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  header {
    background: url(../../img/backgorund1.png) top center/cover no-repeat;
  }
  .header_banner_item_left_sp,
  .header_banner_item_right_sp {
    text-align: center;
  }
  .header_banner_sp {
    padding: 40px 0;
  }
  .header_banner_sp .header_banner_item_left_sp h3 {
    padding-bottom: 10px;
  }
  .header_banner_sp .header_banner_item_left_sp p {
    font-size: 13px;
    padding: 0 100px;
    text-align: left;
  }
  .header_banner_sp .header_banner_item_left_sp #money {
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
  .header_banner_sp .btn {
    margin-top: 10px;
  }
}
.sp {
  display: none;
}

.banner {
  padding: 100px 0 0 0;
}
.banner .banner_container {
  padding: 0 50px 83px 215px;
  padding-top: 110px;
}
.banner .banner_item_left {
  float: left;
  width: 50%;
}
.banner .banner_item_right {
  float: left;
  width: 40%;
  position: relative;
}
.banner .banner_item_right_child {
  padding: 0 50px;
}
.banner .banner_item_right_child .living {
  font-weight: 550;
  padding-left: 80px;
  letter-spacing: -1px;
  position: absolute;
  top: -26px;
}
.banner .banner_item_right_child p:first-child:after {
  width: 100%;
  height: 2px;
  content: "";
  display: block;
  color: black;
  padding-bottom: 20px;
  font-weight: bold;
}
.banner .banner_item_right_child h3 {
  padding-bottom: 30px;
  font-size: 54px;
  font-weight: 500;
  padding-left: 80px;
  margin-top: 29px;
  letter-spacing: -4px;
  line-height: 60px;
}
.banner .banner_item_right_child .nth {
  padding-bottom: 25px;
  padding-left: 80px;
}
.banner .banner_item_right_child .btn_banner {
  margin-top: 35px;
  margin-left: 82px;
  width: 249px;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .sp .banner_sp {
    padding: 10px 0;
  }
  .sp .banner_sp .banner_container_sp {
    padding: 0;
    padding-top: 0;
    text-align: center;
  }
  .sp .banner_sp .banner_item_right_child {
    display: flex;
    justify-content: space-around;
  }
  .sp .banner_sp .banner_item_right_child .living_sp {
    font-weight: 600;
  }
  .sp .banner_sp .nth_sp {
    padding: 10px 100px;
    font-size: 13px;
    text-align: left;
  }
}
.gallery_content {
  padding-bottom: 170px;
}
.gallery_content .gallery_container {
  padding: 0 225px 0 245px;
}
.gallery_content .view_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
.gallery_content .view_content_2 {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.gallery_content .gallery_item {
  position: relative;
  overflow: hidden;
}
.gallery_content .gallery_item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery_content .gallery_item .gallery_overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 38px 28px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.gallery_content .gallery_item .gallery_overplay h3 {
  font-size: 32px;
  color: black;
  margin-bottom: 15px;
  padding: 0 200px;
  font-weight: 400;
  opacity: 0;
}
.gallery_content .gallery_item .gallery_overplay h3.white,
.gallery_content .gallery_item .gallery_overplay p.white {
  color: white;
}
.gallery_content .gallery_item .gallery_overplay p {
  font-size: 16px;
  color: black;
  opacity: 0;
}
.gallery_content .gallery_item:hover .gallery_overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 38px 28px;
  text-align: center;
}
.gallery_content .gallery_item:hover .gallery_overplay h3,
.gallery_content .gallery_item:hover .gallery_overplay p {
  opacity: 1;
}
.gallery_content .gallery_item:hover .gallery_overplay.g1 {
  background-color: rgba(239, 164, 89, 0.7725490196);
}
.gallery_content .gallery_item:hover .gallery_overplay.g2 {
  background-color: rgba(235, 137, 158, 0.7098039216);
}
.gallery_content .gallery_item:hover .gallery_overplay.g3 {
  background-color: rgba(121, 110, 150, 0.7647058824);
}
.gallery_content .gallery_item:hover .gallery_overplay.g4 {
  background-color: rgba(54, 53, 59, 0.737254902);
}
.gallery_content .gallery_item:hover .gallery_overplay.g5 {
  background-color: rgba(70, 166, 171, 0.7450980392);
}
.gallery_content .gallery_g1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery_content .gallery_g2,
.gallery_content .gallery_g3 {
  grid-column: 3/span 2;
}
.gallery_content .gallery_g5 {
  grid-column: 2/span 2;
}

.info {
  padding: 140px 0;
  padding-bottom: 160px;
  background-color: #f4f6f5;
}
.info .info_container {
  padding: 0 50px 0 245px;
  display: flex;
}
.info .email,
.info .name {
  float: left;
  width: 50%;
}
.info .email input,
.info .name input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #e4e6e6;
}
.info .email input:focus,
.info .name input:focus {
  border: none;
}
.info .info_item_float {
  width: 90%;
}
.info .info_item_float p {
  font-weight: bold;
}
.info .btn_yellow {
  background-color: #f8a14b;
  width: 547px;
  margin-top: 52px;
  margin-left: 24px;
}
.info .info_left h3 {
  margin-bottom: 50px;
  font-size: 54px;
  font-weight: 500;
  letter-spacing: -3px;
}
.info .form-control {
  position: relative;
  width: 90%;
}
.info .form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #e4e6e6 solid;
  display: block;
  width: 100%;
  padding: 26px 0;
  font-size: 18px;
  color: black;
}
.info .form-control input:focus,
.info .form-control input:valid {
  outline: 0;
  border-bottom-color: #e4e6e6;
}
.info .form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.info .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.info .form-control input:focus + label span,
.info .form-control input:valid + label span {
  color: black;
  transform: translateY(-30px);
}
.info .info_right_top {
  margin-left: 23px;
}

.slider {
  background: url(../../img/background2.png) no-repeat;
  padding: 130px 0 178px 0;
  text-align: center;
}
.slider .slider_container {
  padding: 0 50px 0 100px;
}
.slider h3 {
  font-size: 47px;
  padding-bottom: 115px;
  font-weight: 500;
  letter-spacing: -1px;
  padding-left: 125px;
}
.slider .slider_container {
  display: flex;
  margin-left: 145px;
  padding-top: 10px;
}

.slider_item {
  padding-right: 65px;
}
.slider_item .slider_name_product {
  font-size: 32px;
  padding-top: 20px;
  font-weight: 100;
}
.slider_item .wrapper_slider > :nth-child(3) {
  font-size: 16px;
  font-weight: bold;
}
.slider_item .wrapper_slider span {
  color: #e62d1e;
  text-decoration: line-through;
  font-weight: 600;
}
.slider_item .wrapper_slider > :nth-child(2) {
  font-size: 32px;
  font-weight: bold;
}
.slider_item .slider_price {
  padding-top: 15px;
  padding-bottom: 28px;
  font-size: 20px;
  font-weight: 300px;
  letter-spacing: -1px;
}
.slider_item .btn_slider {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .slider_sp {
    text-align: center;
    padding: 30px 0;
    background: url(../../img/background2.png) no-repeat;
  }
  .slider_sp h3 {
    padding: 20px 0;
  }
  .slider_sp .slider_name_product {
    font-weight: bold;
    padding: 10px 0 5px 0;
  }
  .slider_sp span {
    color: #e62d1e;
    text-decoration: line-through;
  }
  .slider_sp .slider_price {
    padding-bottom: 10px;
  }
  .slider_sp img {
    width: 50%;
    margin: 0 auto;
  }
  .slider_sp .btn_slider {
    background: linear-gradient(0.25turn, #ffffff, #50c1c7);
  }
}
footer {
  background: url(../../img/background3.png);
  background-position: bottom 0px right -41px;
  background-repeat: no-repeat;
  padding-top: 105px;
}
footer .footer_container {
  padding: 0 50px 0 245px;
}
footer .footer_left,
footer .footer_right,
footer .footer_left_top_left,
footer .footer_left_top_right,
footer .footer_item_left,
footer .footer_item_right {
  float: left;
  width: 50%;
}
footer .footer_right {
  width: 30%;
}
footer .footer_left_top {
  padding-bottom: 110px;
}
footer .footer_container {
  position: relative;
}
footer .footer_container .footer_right {
  top: 248px;
  position: absolute;
  right: -4px;
}
footer .footer_container .footer_right img {
  display: inline-block;
  padding: 0 10px;
}
footer .footer_left_top_right {
  padding-left: 60px;
}
footer .bold {
  font-weight: 600;
  padding-bottom: 10px;
}
footer h3 {
  padding-bottom: 15px;
}
footer .footer_left_bottom {
  letter-spacing: -1px;
  padding: 50px 50px 50px 245px;
  border-top: 2px solid black;
}
footer p {
  padding: 1px 0;
}
footer .h3_footer {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
}
footer .the_team {
  padding-top: 18px;
}
footer .title_departments {
  padding-top: 20px;
}

.btn {
  height: 86.8px;
  width: 300px;
  background-color: #50c1c7;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn {
    height: 40px;
    width: 300px;
    background-color: #50c1c7;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */