.btn {
    height: 86.8px;
    width: 300px;
    background-color: #50c1c7;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .btn {
        height: 50px;
        width: 200px;
        background-color: #50c1c7;
        color: white;
        border: none;
        font-size: 13px;
        cursor: pointer;
    }
}
@media screen and (max-width: 960px) {
    .btn {
        height: 40px;
        width: 150px;
        background-color: #50c1c7;
        color: white;
        border: none;
        font-size: 10px;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px) {
    .btn {
        height: 40px;
        width: 150px;
        background-color: #50c1c7;
        color: white;
        border: none;
        font-size: 10px;
        cursor: pointer;
    }
}
