footer {
    background: url(../../img/background3.png);
    background-position: bottom 0px right -41px;
    background-repeat: no-repeat;
    // background-size: cover;
    .footer_container {
        padding: 0 50px 0 245px;
    }

    padding-top: 105px;
    // position: relative;

    .footer_left,
    .footer_right,
    .footer_left_top_left,
    .footer_left_top_right,
    .footer_item_left,
    .footer_item_right {
        float: left;
        width: 50%;
    }
    .footer_right {
        width: 30%;
    }
    .footer_left_top {
        padding-bottom: 110px;
    }
    .footer_container {
        position: relative;
        .footer_right {
            top: 248px;
            position: absolute;
            right: -4px;
            img {
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
    .footer_left_top_right {
        padding-left: 60px;
    }
    // .footer_item_right {
    //     padding-top: 35px;
    // }
    .bold {
        font-weight: 600;
        padding-bottom: 10px;
    }
    h3 {
        padding-bottom: 15px;
    }
    .footer_left_bottom {
        letter-spacing: -1px;
        padding: 50px 50px 50px 245px;
        border-top: 2px solid black;
    }
    p {
        padding: 1px 0;
    }
    .h3_footer {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: -1px;
    }
    .the_team {
        padding-top: 18px;
    }
    .title_departments {
        padding-top: 20px;
    }
}
